{% extends 'base.html.twig' %}

{% block title %}Edit Salarie{% endblock %}

{% block body %}
    <h1>Edit Salarie</h1>

    {{ include('Salaries/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_salarie_controller2_index') }}">back to list</a>

    {{ include('Salaries/_delete_form.html.twig') }}
{% endblock %}
