{% extends 'base.html.twig' %}

{% block title %}New Fournisseur{% endblock %}

{% block body %}
    <h1>Create new Fournisseur</h1>

    {{ include('Fournisseur/_form.html.twig') }}

    <a href="{{ path('app_fournisseur_controller2_index') }}">back to list</a>
{% endblock %}
